@import url("../../styles/root.css");
@import url("../../styles/icons.css");
/* from pages */
@import url("../pages/styles/login.css");
@import url("../pages/styles/start.css");
/* from specific global components that tends to be in almost all pages*/
@import url("../components/styles/menu.css");
@import url("../components/styles/slider.css");

html {
    color: var(--color-E3);
    background: linear-gradient(-45deg, var(--color-A), var(--color-B), var(--color-C), var(--color-D));
}

a {
    text-decoration: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    min-width: 260px;
    padding: 8vh 12vw;
}

button {
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

h2 {
    font-size: 10vw;
    margin: 2vw 1vw;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-E3);
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 0.1rem;
    /* display: none; */
}

::-webkit-scrollbar-track {
    border: 1px solid var(--color-B);
}

::-webkit-scrollbar-thumb {
    border-radius: 12rem;
    background: var(--color-E3);
}

/* scrollbar style */
.logo {
    border-radius: 100rem;
    background: linear-gradient(-45deg, var(--color-A), var(--color-B), var(--color-C), var(--color-D));
    background-size: 400% 400%;
    width: 100px;
    padding: 25px;
    margin: 0 50px 20px 50px;
    animation: 3000ms gradient ease-in-out infinite;
}

.title {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  animation: animate 4s ease-in-out infinite;
  margin-bottom: 2vh;
}

.sign_in_btn {
    background-color: var(--color-E3);
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-C);
    border-radius: 12vw;
    padding: 12.25px;
    margin: 12.5px;
    min-width: 200px;
    font-size: 1.0rem;
    font-family: var(--font-family)
}

.sign_in_btn:hover {
    color: var(--color-C4);
}

.container {
    text-align: center;
    margin-bottom: 25px;
}


/* animations */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* animations */