.UserInput_item {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
}

.UserInput_item label {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    /* display: inline-block; */
    margin-left: 0.5rem;
}

.UserInput_item input {
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    /* overflow: visible; */
    display: block;
    width: 55vw;
    /* height: calc(1.5em + 0.75rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-B);
    background: var(--color-E3) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-A2);
    border-radius: 3.25rem;
    /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.SignInComponent_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:scroll;
}

.SignInComponent_form {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vw;
    padding: 2vh 3vh 4vh 3vh;
    /* border: 2px solid var(--color-B); */
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    background-color: var(--color-A);
    border-radius: 1rem;
}

#SignUpForm > div:nth-of-type(1){
    margin-top: 12rem;
}

.SignInComponent_User-logo {
    /* width: 45px; */
    width: 15vh;
    object-fit: cover;
    color: var(--color-B);
    margin: 0.5em;
    flex-shrink: 0;
}

.SignInComponent_SingUp {
    margin: 15px 0 15px 0;
    transition: color ease 500ms;
    color: white;
}

.SignInComponent_SingUp:hover {
    color: var(--color-C1);
}

#SignInComponent_button {
    border-radius: 16rem;
    margin: 1rem 0 1rem 0;
    width: 60vw;
    height: 12vh;
}


@media screen and (min-width: 768px) {
    #SignInComponent_button {
        width: 25vw;
        height: 10vh;
    }

    .SignInComponent_User-logo {
        width: 10vw;
    }
}

.alert {
    padding: 10px;
    background-color: #686868;
    color: white;
    opacity: 0;
    transition: opacity 0.6s;
    margin-bottom: 0px;
    border-radius: 1rem;
  }
  
.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
color: black;
}