#logOutButton{
    aspect-ratio: 1/1;
    font-weight: bold;
    color: var(--color-E3);
    position: absolute;
    padding: 0.3rem;
    top: 12;
    left: 12;
    background-color: var(--color-C5);
    border-radius: 2rem;
}
#logOutButton > span{
    font-size: 2rem;
}