:root{
    /* Color Theme Basic */
    --color-A: #F29F05;
    --color-B: #F28705;
    --color-C: #f25c05;
    --color-D: #D93D04;
    --color-E: #F2F2F2;
    /* Color Theme A */
    --color-A1: #F9D507;
    --color-A2: #DBA607;
    --color-A3: #F29F05;
    --color-A4: #DB7807;
    --color-A5: #F96507;
    /* Color Theme B */
    --color-B1: #B36404;
    --color-B2: #734002;
    --color-B3: #FF8F05;
    --color-B4: #D97904;
    /* Color Theme  C*/
    --color-C1: #F9A107;
    --color-C2: #DB7407;
    --color-C3: #DB3607;
    --color-C4: #F91A07;
    --color-C5: #FF904D;
    /* Color Theme D */
    --color-D1: #992B03;
    --color-D2: #591902;
    --color-D3: #E64105;
    --color-D4: #BF3604;
    /* Color Theme E */
    --color-E1: #B3B3B3;
    --color-E2: #737373;
    --color-E3: #FFFFFF;
    --color-E4: #D9D9D9;
  
    --Header-size: 57px;
    --Footer-size: 45px;
    --HeaderFooter: calc(var(--Header-size) + var(--Footer-size));
    --Page-padding: 0 20px var(--Navbar-size) 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --font-family: 'Goldplay', Helvetica, sans-serif;
}

.Herramienta{
    background-color: #ffff00  !important;
}
.Social{
    background-color: #F8961E !important;
}
.Entretenimiento{
    background-color: #D14143 !important;
}
.News{
    background-color: #9162BD !important;
}
.Research{
    background-color: #43AA8B !important;
}
.Business{
    background-color: #274F73 !important;
}
.SHOPPING{
    background-color: #FA5089 !important;
}
.Not_rated{
    background-color: #7f7f7f !important;
}