.rating >.rate {
    margin: 0 0;
    float: left;
    padding: 0 0.7rem;
}
.rating >.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rating >.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:2.5rem;
    color:var(--color-E3    );
}
.rating >.rate:not(:checked) > label:before {
    content: '★ ';
}
.rating >.rate > input:checked ~ label {
    color: var(--color-A1);  
}
.rating >.rate:not(:checked) > label:hover,
.rating >.rate:not(:checked) > label:hover ~ label {
    color: var(--color-A1);  
}
.rating >.rate > input:checked + label:hover,
.rating >.rate > input:checked + label:hover ~ label,
.rating >.rate > input:checked ~ label:hover,
.rating >.rate > input:checked ~ label:hover ~ label,
.rating >.rate > label:hover ~ input:checked ~ label {
    color: var(--color-C4);
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */