
.slidecontainer {
    width: 100%; /* Width of the outside container */
    padding: 1rem 0;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 0.8rem; /* Specified height */
    border-radius: 12rem;
    background: var(--color-E3); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 12rem;
    width: 1.3rem; /* Set a specific slider handle width */
    height: 1.3rem; /* Slider handle height */
    background: var(--color-C4); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 1.2rem; /* Set a specific slider handle width */
    height: 1.2rem; /* Slider handle height */
    background: var(--color-C4); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }